@model ProyectoFinal.Models.ActivitySchedule

@{
    ViewBag.Title = "Details";
}

<h2>Detalles horario</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Actividad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourTo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ActivityScheduleID }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
