@model ProyectoFinal.Models.PaymentTypePrice

@{
    ViewBag.Title = "Details";
}

<h2>Detalles precio de abono</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFrom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PaymentTypePriceID }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>

