@model ProyectoFinal.Models.File

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar ejercicio</h2>

<h3>¿Estás seguro que deseas eliminar este ejercicio?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Routine.NameFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Routine.NameFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MuscleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MuscleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExerciseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repetitions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repetitions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
