@model ProyectoFinal.Models.File

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>File</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Routine.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Routine.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameFile)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.ExerciseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repetitions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repetitions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FileID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
