@model IEnumerable<ProyectoFinal.Models.File>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}


<br />
<h4>Nombre: @Html.DisplayFor(modelItem => Model.FirstOrDefault().Routine.Client.FirstName) @Html.DisplayFor(modelItem => Model.FirstOrDefault().Routine.Client.LastName)</h4>
<h4>Rutina: @Html.DisplayFor(modelItem => Model.FirstOrDefault().Routine.NameFile)</h4>
<h4>Nivel: @Enum.GetName(typeof(ProyectoFinal.Utils.Catalog.LevelRoutine), Model.FirstOrDefault().Routine.Level)</h4>
<br />
<table class="table table-bordered">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MuscleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repetitions)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MuscleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExerciseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso) kg
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Repetitions)
        </td>
    </tr>
}
</table>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85232023-1', 'auto');
  ga('send', 'pageview');

</script>