@model IEnumerable<ProyectoFinal.Models.File>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}



<h3>Nombre: @Html.DisplayFor(modelItem => Model.FirstOrDefault().Routine.Client.FirstName) @Html.DisplayFor(modelItem => Model.FirstOrDefault().Routine.Client.LastName)</h3>
<h3>Rutina: @Html.DisplayFor(modelItem => Model.FirstOrDefault().Routine.NameFile)</h3>
<h3>Nivel: @Enum.GetName(typeof(ProyectoFinal.Utils.Catalog.LevelRoutine), Model.FirstOrDefault().Routine.Level)</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Routine.NameFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MuscleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repetitions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Routine.NameFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MuscleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExerciseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Repetitions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
    </tr>
}

</table>
