@model ProyectoFinal.Models.Stock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArticleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesiredStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesiredStock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StockID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
