@model IEnumerable<ProyectoFinal.Models.Client>
@using MvcContrib.UI.Pager
@using MvcContrib.Pagination;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Raw(@Html.Pager((IPagination)Model)
                .Format("Mostrando {0}-{1} de {2} | ")
                .First("Primero")
                .Previous("Anterior")
                .Next("Siguiente")
                .Last("Último")
         )
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientID }) |
            @Html.ActionLink("Historial médico", "Details" , "MedicalRecords", new { id = item.ClientID }, null) |
            @Html.ActionLink("Rutina", "Details", "Routines", new { id = item.ClientID }, null)
        </td>
    </tr>
}
</table>
@Html.Raw(@Html.Pager((IPagination)Model)
                .Format("Mostrando {0}-{1} de {2} | ")
                .First("Primero")
                .Previous("Anterior")
                .Next("Siguiente")
                .Last("Último")
         )